:root {
  --silver: #878E99;
  --almond: #FFECD1;
  --green: #093A3E;
  --brandy: #8E4A49;
  --purple: #4C3549;
  --black: #000000;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
  top: 0;
  position: sticky;
  width: 100%;
  padding: 1.5em;
  background-color: var(--green);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: padding 0.3s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.name {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  padding-left: 1em;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  padding: 1.5em;
  transition: font-size 0.3s ease, padding 0.3s ease;
}

header nav ul li a:hover {
  opacity: 0.7;
}

@media (max-width: 1217px) {
  .header nav {
    justify-content: center;
  }

  .header nav ul li {
    padding-top: 1em;
  }
}

@media (max-width: 1000px) {
  .header nav ul li {
    font-size: 1vw;
  }
}

@media (max-width: 768px) {
  .header nav ul li {
    font-size: 1.5vw;
  }
}

.logo {
  font-size: 10vw;
  font-family: "Bodoni Moda SC", serif;
  margin: 0;
}

.intro-icons {
  background-color: black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
}

.intro-icon {
  width: 3em;
  height: 3em;
  border: solid 1px var(--white);
  padding: 0.2em;
}

.intro-icon a {
  color: var(--white);
  font-size: 40px;
 }

 .intro-icon a:hover {
  opacity: 0.7;
 }

 .almond {
  color: var(--almond);
 }

 .section {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3vw;
  font-weight: 550;
  padding: 30px;
}

@media (max-width: 1500px) {
  .section {
    font-size: 4vw;
  }
}

@media (max-width: 1000px) {
  .section {
    font-size: 6vw;
  }
}

@media (max-width: 768px) {
  .section {
    font-size: 8vw;
  }

  .logo {
    font-size: 15vw;
  }
}

@media (max-width: 480px) {
  .section {
    font-size: 10vw;
  }

  .logo {
    font-size: 20vw;
  }
}

.intro-box {
  background-color: var(--almond);
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  padding: 2em;
  box-sizing: border-box;
}

.about-box {
  background-color: var(--green);
  height: auto;
}

.project-box {
  background-color: var(--almond);
  height: auto;
}

@media (max-width: 1200px) {
  .intro-box {
    height: auto;
  }
}

@media (max-width: 768px) {
  .about-box, .project-box {
    min-height: 80vh;
    padding: 1.5em;
  }
}

@media (max-width: 480px) {
  .about-box, .project-box {
    min-height: 60vh;
    padding: 1em;
  }

  .intro-box {
    height: auto;
  }
}

.about-section-title {
  font-family: 'Cabin', sans-serif;
  color: var(--almond);
  font-size: 2.2vw;
  border-bottom: solid, 2px, var(--almond);
  padding: 5px;
  margin-bottom: 10px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-item {
  flex: 1;
  text-align: center;
  padding: 2vw;
  box-sizing: border-box;
}

.about {
  font-family: 'Cabin', sans-serif;
  color: var(--almond);
  font-size: 1vw;
  text-align: left;
  line-height: 1.5;
  border-top: solid 2px var(--almond);
}

.recommendations {
  text-align: left;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.rec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.teacher {
  font-size: 1vw;
  color: var(--almond);
  font-family: 'Cabin', sans-serif;
}

.rec-link {
  text-decoration: none;
  font-size: 1.2vw;
  color: black;
  font-family: 'Cabin', sans-serif;
  background-color: var(--almond);
  padding: 5px;
  border-radius: 10px;
  font-weight: 700;
}

.rec-link:hover {
  opacity: 0.7;
}

.cole-img-container {
  max-width: 100%;
  overflow: hidden;
  margin-top: 2vw;
}

.comment {
  color: var(--almond);
  font-size: 1.3vw;
  font-family: 'Cabin', sans-serif;
}

.cole-img {
  max-width: 100%;
}

.skills-container {
  border-top: solid 2px var(--almond);
  font-family: 'Cabin', sans-serif;
  color: var(--almond);
  font-size: 1.5vw;
  text-align: left;
  line-height: 2;
}

.skill-section-title {
  text-decoration: underline;
  font-size: 2vh;
}

.skill-section {
  font-size: 1vw;
}

.skill-item {
  font-size: 0.6vw;
}

.time-frame {
  font-weight: normal;
  font-size: 0.6vw;
}

@media (max-width: 1400px) {
  .skill-item {
    font-size: 1vw;
    line-height: 1.2;
  }

  .skill-item li {
    font-size: 0.8vw;
  }

  .skill-section-title {
    font-size: 2vh;
  }

  .skill-section {
    font-size: 1vw;
    line-height: 1.5;
  }

  .time-frame {
    font-size: 0.8vw;
  }
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
  }

  .about-section-title {
    font-size: 4vw;
  }

  .about {
    font-size: 2.5vw;
  }

  .teacher, .rec-link {
    font-size: 2.5vw;
  }

  .cole-img {
    max-height: 40vh;
  }

  .skill-item li {
    font-size: 1.5vw;
  }

  .skill-section-title {
    font-size: 2vh;
  }

  .skill-section {
    font-size: 2vw;
  }

  .time-frame {
    font-size: 1.5vw;
  }

  .cole-img-container {
    order: -1; /* Move the image to the top */
    margin-top: 1vw;
  }
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .cole-img {
    max-height: 40vh;
  }

  .about-section-title {
    font-size: 4vw;
  }

  .about {
    font-size: 3vw;
  }

  .teacher, .rec-link {
    font-size: 3vw;
  }

  .comment {
    font-size: 4vw;
  }

  .skills-container {
    font-size: 3vw;
  }

  .skill-item {
    font-size: 2vw;
  }

  .skill-section-title {
    font-size: 2vh;
  }

  .skill-section {
    font-size: 2vw;
  }

  .time-frame {
    font-size: 1.5vw;
  }

  .cole-img-container {
    order: -1; /* Move the image to the top */
    margin-top: 1vw;
  }
}

@media (max-width: 480px) {
  .about-section-title {
    font-size: 5vw;
  }

  .about {
    font-size: 2.8vw;
  }

  .teacher, .rec-link {
    font-size: 3vw;
  }

  .comment {
    font-size: 3vw;
  }

  .skill-section {
    font-size: 4vw;
  }

  .time-frame {
    font-size: 3vw;
  }

  .skill-item li {
    font-size: 3vw;
    line-height: 1.2;
  }

  .cole-img {
    max-height: 25vh;
  }

  .cole-img-container {
    margin-top: 2vw;
  }
}

.project-section-title {
  font-family: 'Cabin', sans-serif;
  color: black;
  font-size: 2vw;
  border-bottom: solid, 2px, var(--almond);
  padding: 5px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
}

.project-item {
  flex: 1;
  text-align: center;
  padding: 2vw;
  box-sizing: border-box;
  /* width: 100%; */
  min-width: 280px;
  /* height: 100%; */
  /* overflow: hidden; */
  border-radius: 25px;
}

.project-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100%;
  aspect-ratio: 1/1;
  max-width: 100%;
  border-radius: 15px;
}

.project-img:hover {
  opacity: 0.7;
}

.project-desc {
  font-family: 'Cabin', sans-serif;
  text-align: left;
  line-height: 1.5;
  padding: 10px;
  font-size: 0.8vw;
}

@media (max-width: 1050px) {
  .project-desc {
    font-size: 1vw;
  }
}

@media (max-width: 900px) {
  .project-item {
    flex: 1 1 100%;
    padding: 3vw;
  }

  .project-section-title {
    font-size: 4vw;
  }

  .project-img {
    max-height: 50vh;
    max-width: 50vw;
  }

  .project-desc {
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  .project-item {
    flex: 1 1 100%;
    padding: 5vw;
  }

  .project-section-title {
    font-size: 5vw;
  }

  .project-img {
    max-height: 50vh;
    max-width: 50vw;
  }

  .project-desc {
    font-size: 2.5vw;
  }
}

/* .contact-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

.contact-form {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-box {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  background-color: var(--green);
  color: var(--almond);
}

.contact-heading {
  margin-top: 20px;
  font-size: 1.3vw;
}

.my-contact {
  margin: 5px;
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

input, textarea {
  width: 100%;
  max-width: 30%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc9c9;
  border-radius: 4px;
  font-family: 'Cabin', sans-serif;
}

.contact-btn {
  font-size: 32px;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  padding: 5px;
  color: var(--almond);
  cursor: pointer;
  background-color: var(--green);
  border: solid 2px var(--almond);
  border-radius: 5px;
}

.contact-btn:hover {
  opacity: 0.7;
}

@media (max-width: 1900px) {
  .contact-heading {
    font-size: 1.7vw;
  }
}

@media (max-width: 1500px) {
  .contact-heading {
    font-size: 2vw;
  }

  input, textarea {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .contact-heading {
    font-size: 3.5vw;
  }

  .my-contact {
    font-size: 2vw;
  }

  input, textarea {
    width: 90%;
  }

  .contact-btn {
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  .contact-heading {
    font-size: 5vw;
  }

  .my-contact {
    font-size: 4vw;
  }

  input, textarea {
    max-width: 80%;
  }

  .contact-btn {
    font-size: 4vw;
  }
}

 footer {
  height: 300px;
  background-color: var(--black);
 }

 .top-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

 #top {
  color: var(--white);
  font-size: 56px;
  padding: 25px;
 }

 #top:hover {
  opacity: .7;
 }

 .socials {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  text-align: center;
  border-bottom: solid 1px var(--white);
  padding-bottom: 10px;
  margin-left: 40%;
  margin-right: 40%;
 }

 .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
 }

 .icon {
  width: 50px;
  height: 50px;
  border: solid 1px var(--white);
  margin: 0 15px 15px 15px;
  padding: 4px;
 }

 .icon a {
  color: var(--white);
  font-size: 40px;
 }

 .icon a:hover {
  opacity: 0.7;
 }

 .created-by {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
 }

 @media (max-width: 1100px) {
  .socials {
    margin-left: 30%;
    margin-right: 30%;
  }
 }

 @media (max-width: 500px) {
  footer {
    height: auto;
   }
  
   #top {
    font-size: 30px;
    padding: 5px;
   }
  
   .socials {
    font-size: 18px;
    padding-bottom: 10px;
   }
  
   .icons {
    margin-top: 15px;
   }
  
   .icon {
    width: 40px;
    height: 40px;
    border: solid 1px var(--white);
    margin: 0 15px 15px 15px;
    padding: 4px;
   }
  
   .icon a {
    font-size: 30px;
   }
  
   .created-by {
    padding-bottom: 20px;
   }
 }